apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp-dep
spec:
  template:
    spec:
      containers:
        - name: todoapp
          env:
            - name: ENVIRONMENT
              value: "production"
            - name: LOG_LEVEL
              value: "INFO"
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"