apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp-dep
spec:
  template:
    spec:
      containers:
        - name: todoapp
          env:
            - name: ENVIRONMENT
              value: "staging"
            - name: LOG_LEVEL
              value: "DEBUG"