apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../../base

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: todoapp-dep
images:
- name: roslinmahmud/todo-app
  newName: roslinmahmud/todo-app
  newTag: 92b0fa83a4a8328f64ba0219d4c070a688600c53
