apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../../base

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: todoapp-dep
images:
- name: roslinmahmud/todo-app
  newName: roslinmahmud/todo-app
  newTag: 7501c3aaa756965baeddca82e688203a2d778dfe
